
.mainContainer {
    background-image: url('../images/backgroundImage.png');
    background-repeat: repeat-x;
	/**font-family: 'Lato', sans-serif;**/
	font-family: 'Josefin Slab', serif;
}

body {
    background-color: rgb(209,209,210);
    padding: 16px;
}

.headings.underlineDotted1 {
    color: rgb(192, 90, 90);
    font-weight: bold;
    border-bottom: 3px dotted brown;
    /*font-family: -webkit-pictograph;*/
    margin-top: 39px;
    margin-bottom: 15px;
    padding-bottom: 12px;
}

#underlineDotted2 {
    border-bottom: 3px dotted brown;
}

.textFormat {
    font-weight: bold;
    padding-bottom: 10px;
    padding-right: -33px !important;
    padding-top: 10px;
}

.tableBorder {
    width: 100%;
    border-bottom: 1px solid #CECCCC;
}

#firstImage {
    background-color: rgb(199, 144, 137);
    height: 250px;
    width: 188px;
    border-radius: 0px 0px 50% 50%;
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    margin-top: 0px;
}

#ImageTop{
    border-top: 19px solid rgb(199,144,137);
    width: 188px;
    height: 2px;
    position: relative;
    margin-top: -16px;
    margin-left: 25px;
}

#secondImage {
    background-color: rgb(253, 215, 0);
    height: 269px;
    width: 170px;
    border-radius: 40% 40% 40% 40%;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 10px;
}

#thiImage {
    background-color: rgb(79, 80, 123);
    height: 247px;
    width: 156px;
    border-radius: 40% 40% 40% 40%;
    text-align: center;
    /*margin-top: 10px;*/
    padding-top: 10px;
    margin-top: -34px;
    margin-left: 10px;
}

#fourImage {
    background-color: rgb(192, 90, 90);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    color: rgb(255,255,255);
    margin-left: 10px;
}

#firstImageText {
    color: white;
}

#firstImageHeader {
    color: rgb(248, 207, 29);
    /*font-family: -webkit-body;*/
    margin-top: -54px;
    font-weight: bold;
}

.year {
    color: rgb(192, 90, 90);
    display: inline;
    font-weight: bold;
    padding-left: 248px;
}

.appleImage {
    height: 30px;
    padding-left: 26px;
}

.companyContainer {
    border-right: 1px solid grey;
    padding-bottom: 13px;
    border-bottom: 1px solid grey;
}

.companyProfile {
    border-right: 1px solid grey;
    padding-top: 1px;
}
.lastSection{
    padding-left: -1px;

}
.lastHeader{
    display: inline;
}
.lastRightText{
    display: inline;
    padding-left: 30px;
}
.lastPara{
    border-bottom: 1px solid #E4E4E4;
}
#domainName{
    text-align: center;
}
.colorToList{
    color:rgb(253,215,3);
    font-weight: bold;
    font-size: 17px;
}

#colorToUnList{
    color: rgb(94,93,133);
    font-weight: bold;
    font-size: 17px;
}
.image1{
    border-radius: 50%;
    color: white;
    background-color: brown;
    height: 25px;
    width: 25px;
    text-align: center;
    padding-top: 5px;
    padding-right: 2px;
    margin-right: 4px;
}
#gitIcon {
    height: 27px;
    margin-left: -80px;
}
#skills{
    font-weight: bold;
    /* font-family: -webkit-body; */
    line-height: 16px;
    color: rgb(86,79,51);
    width: 150px;
    padding-left: 23px;
}
#toolsUtilities {
    color: rgb(255, 216, 0);
    margin-top: 40px;
    font-weight: bold;
    /*font-family: -webkit-body;*/
}
.prgLangFrameworks{
    color:rgb(137,120,55);
}
.tools{
    color: rgb(255, 216, 0);
}
#reusable{
    /*font-family: -webkit-body;*/
}
#align{
    padding-left: -8px;
}
.bkImage{
    background-image: url("../images/userIcon1.png");
    height: 132px;
    background-position-x: center;
    width: 132px;
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-top: 30px;
    opacity: 0.1;
}
.headings {
    font-weight: bolder;
    color: rgb(202, 118, 115);
    margin-bottom: 0px;
}
.sectionTwo {
    margin-top: 12px;
}
.borderRt{
    border-right: 1px solid black;
    border-width: 2px;
    opacity: 0.1;
    margin-left: 56px;

}
#objDescription{
    font-weight: bold;
}

#headerAlign{
    margin-left: 17px;
}
#borderAlign1{
    border-right: 1px solid grey;
    padding-bottom: 13px;
    border-bottom: 1px solid grey;
    margin-left: -30px;
}
#borderAlign2{
    padding-bottom: 13px;
    border-bottom: 1px solid grey;
    margin-left: -30px;
}

.headingsProject {
    color: rgb(192, 90, 90);
    font-weight: bold;
    border-bottom: 3px dotted brown;
    /*font-family: -webkit-pictograph;*/
    margin-top: 39px;
    margin-bottom: 15px;
    padding-bottom: 12px;
    margin-left: 10px;
}