<div class="row browserStatistics">
    <div class="col-md-3 browser">
        <p class="header">BROWSER STATS</p>
        <ul class="browserList">
            <li>Google Chrome <span class="btn btn-info btn-xs browserBtn">42.8%</span></li>
            <li>Firefox<span class="btn btn-danger btn-xs browserBtn">16.9%</span></li>
            <li>Safari<span class="btn btn-success btn-xs browserBtn">15.5%</span></li>
            <li>Opera<span class="btn btn-primary btn-xs browserBtn">11.8%</span></li>
            <li>Internet Explorer <span class="btn btn-danger btn-xs browserBtn">3.2%</span></li>
            <li>Mobile<span class="btn btn-warning btn-xs browserBtn">3%</span></li>
            <li>Others<span class="btn btn-warning btn-xs browserBtn">0%</span></li>
        </ul>

    </div>
    <div class="col-md-6 lastOrders">
        <div class="tools">
            <span class="header">LAST ORDERS</span><span class="btn btn-warning btn-xs">196</span>
            <div class="toolsContainer">
                <span class="glyphicon glyphicon-search toolIcons"></span>
                <span class="glyphicon glyphicon-minus toolIcons"></span>
                <span class="glyphicon glyphicon-resize-full toolIcons"></span>
                <span class="glyphicon glyphicon-remove toolIcons"></span>
            </div>
        </div>
        <table class="table table-responsive table-hover table-striped">
            <thead>
            <tr>
                <th class="glyphicon glyphicon-trash trash"></th>
                <th>ORDER ID</th>
                <th class="hCells">PRODUCT</th>
                <th class="hCells">BUYER</th>
                <th class="hCells">DATE</th>
                <th class="hCells">PRICE</th>
                <th class="hCells">QUANTITY</th>
                <th class="hCells">LOCATION</th>
                <th>DELIVERY DATE</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>#9652</td>
                <td>Kode Gaming Laptop</td>
                <td>John Doe</td>
                <td>12/10/2015</td>
                <td>198</td>
                <td>John</td>
                <td>PUNE</td>
                <td>12/10/2015</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>#9652</td>
                <td>Kode Gaming Laptop</td>
                <td>John Doe</td>
                <td>12/10/2015</td>
                <td>198</td>
                <td>John</td>
                <td>PUNE</td>
                <td>12/10/2015</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>#9652</td>
                <td>Kode Gaming Laptop</td>
                <td>John Doe</td>
                <td>12/10/2015</td>
                <td>198</td>
                <td>John</td>
                <td>PUNE</td>
                <td>12/10/2015</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>#9652</td>
                <td>Kode Gaming Laptop</td>
                <td>John Doe</td>
                <td>12/10/2015</td>
                <td>198</td>
                <td>John</td>
                <td>PUNE</td>
                <td>12/10/2015</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3 inbox">
        <div><span class="header">INBOX</span>
            <span class="btn btn-danger btn-xs">9</span>
            <div class="toolsContainer">
                <span class="glyphicon glyphicon-minus toolIcons"></span>
                <span class="glyphicon glyphicon-resize-full toolIcons"></span>
                <span class="glyphicon glyphicon-remove toolIcons"></span>
            </div>
        </div>
        <ul class="mailList">
            <li class="mail"><img src="./images/loggedInUserImage.png" class="avatar" alt="">
                <span class="name">Jonathan Doe</span>
                <span class="date">22 May</span>
                <p class="subject">Hello, m8 how is going?</p>
            </li>
            <li class="mail"><img src="./images/loggedInUserImage.png" class="avatar" alt="">
                <span class="name">Jonathan Doe</span>
                <span class="date">22 May</span>
                <p class="subject">Hello, m8 how is going? What about new offer letter</p>
            </li>
            <li class="mail"><img src="./images/loggedInUserImage.png" class="avatar" alt="">
                <span class="name">Jonathan Doe</span>
                <span class="date">22 May</span>
                <p class="subject">Hello, m8 how is going?</p>
            </li>
            <li class="mail"><img src="./images/loggedInUserImage.png" class="avatar" alt="">
                <span class="name">Jonathan Doe</span>
                <span class="date">22 May</span>
                <p class="subject">Hello, m8 how is going?</p>
            </li>
            <li class="mail"><img src="./images/loggedInUserImage.png" class="avatar" alt="">
                <span class="name">Jonathan Doe</span>
                <span class="date">22 May</span>
                <p class="subject">Hello, m8 how is going?</p>
            </li>
        </ul>
    </div>
</div>
<ng-include src="'./templates/projectsStatistics.html'"></ng-include>