<div class="row generalStats">
    <div class="col-md-6 genStatsContainer">
        <p class="genHead">GENERAL STATS</p>
        <div class="col-md-2 graphs">
            <div class="c100 p82">
                <span class="caption" style="font-size: 18px; color:black; font-weight: bold">&nbsp;&nbsp;&nbsp;&nbsp;82% <span
                        style="display: block;
                        height: 10px;
                        margin-top: -60px;
                        margin-left: 24px;font-weight: normal;
                        font-size: 14px;">New Visit</span></span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2 graphs">
            <div class="c100 p30">
                <span class="caption" style="font-size: 18px; color:black; font-weight: bold">&nbsp;&nbsp;&nbsp;&nbsp;30% <span
                        style="display: block;
                        height: 10px;
                        margin-top: -60px;
                        margin-left: 24px;font-weight: normal;
                        font-size: 14px;">Order</span></span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2 graphs">
            <div class="c100 p62">
                <span class="caption" style="font-size: 18px; color:black; font-weight: bold">&nbsp;&nbsp;&nbsp;&nbsp;62% <span
                        style="display: block;
                        height: 10px;
                        margin-top: -60px;
                        margin-left: 24px;font-weight: normal;
                        font-size: 14px;">Page View</span></span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 socialInfo">
        <div class="col-md-3 twitter">
            <p class="twit">Never in all their history have men been able truely...</p>
            <p class="twitDate">22 May, 2015 <span class="deviceInfo">via mobile</span></p>
            <p>
                <span class="fa fa-twitter twitterIcon"></span>
                <span class="glyphicon glyphicon-retweet retweet"></span>
                <span>694</span>
                <span class="glyphicon glyphicon-star-empty star">
            </span><span>2.192</span>
            </p>
        </div>
        <div class="col-md-3 facebook">
            <p class="twit">Science has not yet mastered prophecy.</p>
            <p class="twitDate">22 May, 2015 <span class="deviceInfo">via mobile</span></p>
            <p>
                <span class="fa fa-facebook twitterIcon"></span>
                <span class="fa fa-thumbs-up retweet"></span>
                <span>694</span>
                <span class="fa fa-comment star">
            </span><span>2.192</span>
            </p>
        </div>
    </div>
</div>
<ng-include src="'./templates/browserStatistics.html'"></ng-include>