<div class="row browserStatistics">
    <div class="col-md-6 lastOrders projectsStats">
        <div class="tools">
            <span class="header">PROJECTS STATS</span><span class="btn btn-success btn-xs">62</span>
            <div class="toolsContainer">
                <span class="glyphicon glyphicon-minus toolIcons"></span>
                <span class="glyphicon glyphicon-resize-full toolIcons"></span>
                <span class="glyphicon glyphicon-remove toolIcons"></span>
            </div>
        </div>
        <table class="table table-responsive table-hover">
            <thead>
            <tr>
                <th class="hCells">ID</th>
                <th class="hCells">PROJECT</th>
                <th class="hCells">STATUS</th>
                <th class="hCells">PROGRESS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>#9652</td>
                <td>Kode Gaming Laptop</td>
                <td><span class="btn btn-info btn-xs ">Developing</span></td>
                <td><img src="./images/progress.png" alt=""></td>
            <tr>
                <td>#9652</td>
                <td>Kode Gaming Laptop</td>
                <td><span class="btn btn-warning btn-xs ">Design</span></td>
                <td><img src="./images/progress.png" alt=""></td>
            </tr>
            <tr>
                <td>#9652</td>
                <td>Kode Gaming Laptop</td>
                <td><span class="btn btn-warning btn-xs ">Testing</span></td>
                <td><img src="./images/progress.png" alt=""></td>
            </tr>
            <tr>
                <td>#9652</td>
                <td>Kode Gaming Laptop</td>
                <td><span class="btn btn-danger btn-xs ">Cancelled</span></td>
                <td><img src="./images/progress.png" alt=""></td>
            </tr>
            <tr>
                <td>#9652</td>
                <td>Kode Gaming Laptop</td>
                <td><span class="btn btn-primary btn-xs ">Reply waiting</span></td>
                <td><img src="./images/progress.png" alt=""></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3 browser" id="sea">
        <img src="./images/sea.png" alt="sea" class="sea">
        <p class="statement">There can be no thought of finishing for aiming for the stars. Both figuratively and
            literally...</p>
        <p class="read">Read More</p>
        <img src="./images/loggedInUserImage.png" class="avatar" alt="">
        <span class="name">Jonathan Doe</span>
        <p class="subject">Desinger</p>

    </div>

    <div class="col-md-3 inbox teammates">
        <div><span class="header teamMateHeader">TEAMMATES</span>
        </div>
        <ul class="mailList">
            <li class="mail"><img src="./images/loggedInUserImage.png" class="avatar" alt="">
                <span class="name">Jonathan Doe</span>
                <p class="subject">Desinger</p>
            </li>
            <li class="mail"><img src="./images/loggedInUserImage.png" class="avatar" alt="">
                <span class="name">Jonathan Doe</span>
                <p class="subject">Front-End Developer</p>
            </li>
            <li class="mail"><img src="./images/loggedInUserImage.png" class="avatar" alt="">
                <span class="name">Jonathan Doe</span>
                <p class="subject">Back-End Developer</p>
            </li>
            <li class="mail"><img src="./images/loggedInUserImage.png" class="avatar" alt="">
                <span class="name">Jonathan Doe</span>
                <p class="subject">Marketing</p>
            </li>
            <li class="mail"><img src="./images/loggedInUserImage.png" class="avatar" alt="">
                <span class="name">Jonathan Doe</span>
                <p class="subject">iOS Developer</p>
            </li>
            <li class="mail"><img src="./images/loggedInUserImage.png" class="avatar" alt="">
                <span class="name">Jonathan Doe</span>
                <p class="subject">iOS Developer</p>
            </li>
        </ul>
    </div>
</div>
<div class="row copyright">
    <div class="col-md-12">
        <p>Copyright &#169; 2016 CompanyName, Inc. All rights reserved.</p>
    </div>
</div>